.home-admin{
    // overflow: auto;
    height: 100vh ;
    .menu-sider{
        overflow: auto;
        background-color: $sider-background-color;
        .header-menu-sider{
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: white;
            background-color: $header-background-color;
            color: #088178;
            img{
                height: 70%;
            }
           
        }
    }
    .content-page{
        overflow: auto;
        // border: 1px solid rgb(245, 240, 240);
        padding: 15px;
        // .focus{
        //     background-color: white;
        //     height: 100%;
        //     padding: 15px;
        // }
    }

    .header-layout{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $header-background-color;
        .header-title{
            font-size: $font-size-header;
            vertical-align: middle;
            margin: 0;
            color: $title-header-color;
            
        }
    }

    

}